# Exclude any PSD/AI source
*.psd
*.ai
#Except those in _asset folder
!_assets/

# Exclude OS X folder attributes
.DS_Store

# Exclude the build products
build/*
*.[oa]
 
# Exclude Text Files
*.txt
# Except read me and licences
!README.txt 
!copyright-CC-BY-NC-ND-4.0.txt 
!licence-closed-source.txt


# Exclude log files
*.log

# Exclude Fonts
_fonts/

# Exclude misc folder containing irrelivant dev files  
_misc/

# Misc
tmp
 
# WordPress
.htaccess
wp-config.php
wp-content/*

# Exclude XD main page html export
mainpage_text_logo_test.html

#Exclude Dreamweaver _notes
_notes