/* CSS Document */

body{
    background-colour: #FFFFFF;
    margin: 0;
    padding: 0;
    width:1920px;
    height:1080px;
}

.top-container{
    overflow: auto;
    position: fixed;
    height: 150px;
    width:auto;
    top: 0px;
}

#txt-logo{ 
    position: relative;
    top: 70px;
    left: 1645px;
}

.layers-container{
    /*data-depth: 0.1;*/
    height: 1080px;
    width: 1920px;
    top: 0;
    /*width: 100%;
    height: 100vh;
    find out what vh means*/
    overflow: hidden;
    position: static;
}

#bowl{
    /*max-width:50%; 
    max-height:50%;
    //left: 50px;
    right: 0px;//   
    background-attachment: fixed;
    background-position:center;
    top: 50px;
    left: 50px;*/ 
}

#face{
    /*display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    // adjusts size of image 
    max-width: 60%;
    max-height: 60%;
    or
    width: 60%;
    height: 60%;
    //
    position: absolute;
    background-position:center;*/
}

/*
#noodle-1

#noodle-2

#noodle-3

#seaweed-1

#seaweed-2

#onion-1

#onion-2

#shroom-1

#shroom-2

#shroom-3

#tofu-1

#tofu-2

#tofu-3
*/

.mixBlnd{
	background-blend-mode: screen;
}

.bottom-container{
    position: relative;
    bottom: 50px;
}

#menu{
    position: relative;
    bottom: 50px;
}

.footer{
    position: fixed;
    
}

/*max-width: 100%;
    max-height: 100vh;*/
