/* CSS Document */

/*main_page {
    position:absolute;
    width:1920px;
    height:4320px;
    background-colour:rgba(255,255,255,1);
    overflow:hidden;
    --web-view-name: Main Page;
		--web-view-id: Main_Page;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
}*/

body{
    background-colour: #FFFFFF;
    margin: 0;
}

block{
    background-color: #FFFFFF;
    width: 100px;
    height: 100vh;
    /*margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

div.txt_logo{
    <img src="_assets/_images/txt-logo.svg" alt="txt-logo">
    
}
    
/*div.menu{
    
}*/
    
   