/* CSS Document */

/*main_page {
    position:absolute;
    width:1920px;
    height:4320px;
    background-colour:rgba(255,255,255,1);
    overflow:hidden;
    --web-view-name: Main Page;
		--web-view-id: Main_Page;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
}*/

body{
    background-colour: #FFFFFF;
    margin: 0;
}

/*div.block{
    background-color: #FFFFFF;
    width: 100px;
    height: 100vh;
    /*margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

div.txt_logo{
    <img src="_assets/_images/txt-logo.svg" alt="txt-logo">
    
}*/

//

div.img-logo {
        div.bowl{ 
            <img src="_assets/_images/bowl.svg" alt="bowl" min-width="150"/>
    }

        div.face{
            <img src="_assets/_images/face.svg" alt="face" min-width="150"/>
    }

        div.noodles{
            <img src="_assets/_images/noodles.svg" alt="noodles" min-width="150"/>
    }

        div.mushroom-1{
            <img src="_assets/_images/mushroom-1" alt="mushroom-1" min-width="150"/>
    }

        div.mushroom-2{
            <img src="_assets/_images/mushroom-2.svg" alt="mushroom-2" min-width="150"/>
    }

        div.onion{
            <img src="_assets/_images/onion.svg" alt="onion" min-width="150"/>
    }

        div.seaweed{
            <img src="_assets/_images/seaweed.svg" alt="seaweed" min-width="150"/>
    }

        div.tofu{
            <img src="_assets/_images/tofu.svg" alt="tofu" min-width="150"/>
    }

}

/*div.menu{
    
}*/