@charset "UTF-8";

  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 9000px;
}

  header {
    position: absolute;
    height: auto;
    width: 100%;
    
}

  #txt-logo {
    position: fixed;
    top: 0;
    right: 0;
    padding: 65px;
}

  main {
    justify-content: center;
    width: 100%;
    height: 100vh;
}

  footer {
    position: fixed;
    height: auto;
    width: 100%;
    bottom: 0;
}

  .menu {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 65px;
}

  footer p {
    position: relative;
    bottom: 0;
    text-align: center;
    font-family: 'Lato';
    font-weight: normal;
    font-size: 20px;
    color: #8D8D8D;
}



