@charset "UTF-8";

@font-face {
    font-family:"Lato";
}

.paragraph{
    font-size: 20px;
    line-height: 30px;
    font-family: 'Lato', ;
}

body{
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    width:1920px;
    height:1080px;
}

.header{
    position: fixed;
    height: 150px;
    width:auto;
    top: 0px;
}

#txt-logo{ 
    position: relative;
    top: 70px;
    left: 1645px;
}

.bottom-container{
    position: fixed;
    height: 150px;
    width: auto;
    top: 930px;
}

#menu{
    position: fixed;
    top: 950px;
    left: 70px;    
}

.footer{
    position: fixed;
    top: 1000px;
    width: 1920px;
    text-align: center;
    font-family: 'Lato';
    font-weight: normal;
    font-size: 20;
    color: #8D8D8D;      
}
