@charset "UTF-8";
/* CSS Document */

.theme-light {color:#000 !important; background-color:#f0f0f0 !important}

.theme-drips {color:#000 !important; background-color:#f0f0f0 !important}

.theme-drips-2 {color:#000 !important; background-color:#f0f0f0 !important}


